html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.middle {
  margin-top: 15%;
  margin-bottom: 15%;
}

.search-box {
  margin-top: 15%;
  margin-bottom: 5%;
} 

.dead-link, .dead-link:hover, .dead-link:visited .dead-link:active{
  color: black;
  text-decoration: underline;
}

.results-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form {
  margin-top: 20px;
}